.popup {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overplay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.5);
}

.popupContainer {
  position: relative;
  z-index: 2;
  padding: 24px 0;
}

.popupWrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 400px;
  background-color: var(--white);
  border-radius: var(--radius);
}

.popupHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.popupTitle {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.popupClose {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border: 0;

  svg {
    width: 24px;
  }
}

.popupBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}

.popupFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.okButton {
  padding: 8px 56px;
  border: 2px solid var(--primary-color);
  border-radius: var(--radius);
  font-size: 18px;
  color: var(--primary-color);
  background-color: transparent;

  &:active {
    border-color: var(--black);
    color: var(--white);
    background-color: var(--black);
  }
}
