@import './styles/themes';

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 8px 16px;
}

.logo {
  height: 100%;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  border: 2px solid var(--primary-color);
  border-radius: var(--radius);
  font-size: 18px;
  color: var(--primary-color);
  background-color: transparent;

  path {
    fill: var(--black);
  }

  &:active {
    border-color: var(--black);
    color: var(--white);
    background-color: var(--black);

    path {
      fill: var(--white);
    }
  }
}

.reloadButton {
  padding: 8px 32px;
  margin-right: 16px;
  border: 2px solid var(--black);
}

.settingsButton {
  padding: 8px;
  border: 0;
}

.footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 136px;

  span {
    position: relative;
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-image: url('/images/banner.webp');
  background-size: cover;
}

// =============== TICKET =================

.main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 208px);
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  max-width: 768px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.wrapperColors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 80%;
}

.color {
  height: 40px;
  width: 100%;
  margin: 8px;
  border-radius: var(--radius);
  border: 2px solid transparent;
  background-color: transparent;

  &:active {
    border-color: var(--primary-color);
    box-shadow: inset 2px 0 0 0 white;
  }
}

.color-1 {
  background-color: var(--color-1);
}
.color-2 {
  background-color: var(--color-2);
}
.color-3 {
  background-color: var(--color-3);
}
.color-4 {
  background-color: var(--color-4);
}
.color-5 {
  background-color: var(--color-5);
}
.color-6 {
  background-color: var(--color-6);
}

.empty {
  background-color: transparent;

  &.color-1 {
    background-color: var(--color-1);
  }
  &.color-2 {
    background-color: var(--color-2);
  }
  &.color-3 {
    background-color: var(--color-3);
  }
  &.color-4 {
    background-color: var(--color-4);
  }
  &.color-5 {
    background-color: var(--color-5);
  }
  &.color-6 {
    background-color: var(--color-6);
  }
}

.number {
  height: 100%;
  width: 100%;
  min-width: 40px;
  min-height: 20%;
  border: 1px solid var(--black);
  cursor: pointer;

  background-color: transparent;
}

.selected {
  &.color-1 {
    background-color: var(--color-6);
  }
  &.color-2 {
    background-color: var(--color-5);
  }
  &.color-3 {
    background-color: var(--color-4);
  }
  &.color-4 {
    background-color: var(--color-3);
  }
  &.color-5 {
    background-color: var(--color-2);
  }
  &.color-6 {
    background-color: var(--color-1);
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2.2em;
  font-weight: 600;
  color: var(--black);
  user-select: none;
}

// ======================

.popupCustom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popupContent {
  padding: 16px;
  text-align: center;
}

.buttonsGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 16px;

  button {
    width: 50%;
    border: 0;
  }
}
