@import 'modern-normalize/modern-normalize.css';

html,
body {
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}
